<div class="playerSmall-container">
  <%= image_tag "profile/#{player.avatar}", class: 'playerSmall-icon', style: "background-color: #{player.colour};" %>
  <p><%= player.name %><span data-player="<%= player.name %>" data-player-answer=""></span></p>
</div>
