<div class="playerSmall-container w-100 mb-3">
  <%= image_tag "profile/#{player.avatar}", class: 'playerSmall-icon', style: "background-color: #{player.colour};" %>
  <p><%= player.name %><span data-player="<%= player.name %>" data-player-answer="" data-time-taken=""></span></p>
</div>
