<h1>How well do you know each other?</h1>
<h4><%= @room.name %></h4>

<div id="roomId" data-room-id="<%= @room_id %>"></div>


<div id="users">
  <h3>Players</h3>
  <ul id="userList">
    <% @room.players.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ul>
</div>

<h1><%= @question.question %></h1>
