@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
  --background: #f4f9fa;
  --primary-color: #f3ad4b;
  --primary-color-dark: #dfa451;
  --text-gray: #808080;
  --border-radius: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Calistoga', cursive;
}

@import "variables";
@import "bootstrap";
@import "form";
@import "home";
@import "hamster";
@import "home";
@import "lobby";
@import "main";
@import "pages";
@import "player";
@import "rooms";
