.home-textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-imgContainer img {
  width: 100%;
}
