.score-board {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.score-board .player-container:nth-child(1) {
  transform: scale(1);
}

.score-board .player-container:nth-child(2) {
  transform: scale(0.9);
}

.score-board .player-container:nth-child(3) {
  transform: scale(0.8);
}

.score-board .player-container {
  transform: scale(0.7);
  padding: 0;
}

.page-container {
  min-height: 95vh;
  max-width: 1200px;
  margin: 0 auto;
}

.option-container {
  position: relative;
}

.answered-playerInfo {
  position: absolute;
  bottom: -1.5rem;
  z-index: 50;
  border-radius: 4rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.answered-playerInfo p {
  margin: 0;
}

.question-optionsMain li {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}
